header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0B1C51;
    color: white;
    width: 100vw;
    padding: 5% 0 6%;
}

h1 {
    font-size: 52px;
    margin: 0;
    width: 100%;
}

nav {
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    padding: 0;
}

#menu li {
    list-style: none;
    margin: 0 4%;
}

#menu li a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

@media all and (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 0;
    }

    h1 {
        text-align: left;
        margin-left: 2%;
        font-size: 48px;
    }

    #menu {
        justify-content: flex-end;
    }
}